.badge {
  background-color: tomato;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 13px;
  font-weight: 600;
}

.badge--dot {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 3px;
}
